<!-- templates/accounts/passwordresetdone.html -->
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - İzmir Ekonomi Üniversitesi Siber Güvenlik Kulubü</title>
  {% tailwind_css %}
</head>
<body class="bg-[url(https://www.ieu.edu.tr/images/kampus35.jpg)]">

<div class="flex items-center justify-center min-h-screen">
  <div class="login-container">
    {% load widget_tweaks %}
    <div class="max-w-md mx-auto mt-8 bg-gray-700 rounded-lg shadow-xl flex flex-col">
        <div class="bg-gray-800 w-full p-6 mb-4 rounded-t-lg flex items-center">
        <div class="flex items-center justify-start ml-2">
          <img src="{% static 'images/logo.png' %}" alt="Logo" class="h-24 w-auto max-w-[8rem] object-contain">
        </div>
        <div class="flex flex-col justify-center ml-6 w-full">
          <h2 class="text-white text-md text-left w-full">İzmir Ekonomi Üniversitesi</h2>
          <h2 class="text-white text-2xl text-left w-full">Siber Güvenlik Kulubü</h2>
        </div>
      </div>
      {% csrf_token %}
      <div class="mb-4 px-6">
        <h1 class="text-gray-300 text-lg font-bold mb-2">
          Şifre sıfırlama bağlantısı e-posta adresinize gönderilmiştir.</h1>
           <a href="{% url 'login' %}" class="block mt-4 text-white hover:text-gray-300 text-sm font-semibold">
          Giriş sayfasına dönmek için tıklayınız.
        </a>
      </div>
    </div>

    {% if form.errors %}
      <p class="error-message">Şifre sıfırlama başarısız. Lütfen tekrar deneyin.</p>
    {% endif %}
  </div>
</div>

